<p>
	This is the data for the competition. It is to be used responsibly.
</p>
<ul>
	<li>
		development data: <a href="https://s3-eu-west-1.amazonaws.com/downloads.gate.ac.uk/pheme/semeval2017-task8-dataset.tar.bz2">semeval2017-task8-dataset.tar.bz2</a></li>
	<li>
		scoring scripts: <a href="http://alt.qcri.org/semeval2017/task8/data/uploads/scorer.zip">scorer.zip</a></li>
	<li>
		development data key: <a href="http://alt.qcri.org/semeval2017/task8/data/uploads/dev_key.zip">dev_key.zip</a></li>
	<li>
		test tweets:&nbsp;<a href="http://alt.qcri.org/semeval2017/task8/data/uploads/rumoureval2017-test.tar.bz2">rumoureval2017-test.tar.bz2</a></li>
</ul>
<p>
	Two news stories are included, which form the input for both subtasks. You can use the scorer over the development to validate your system. Final submissions are to be made on the CodaLab site.</p>
<p>
	The dataset used for training and development testing is from this PLoS article:</p>
<ul>
	<li>
		Zubiaga A, Liakata M, Procter R, Wong Sak Hoi G, Tolmie P (2016) <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0150989">Analysing How People Orient to and Spread Rumours in Social Media by Looking at Conversational Threads</a>. PLoS ONE 11(3): e0150989. doi:10.1371/journal.pone.0150989</li>
</ul>
<p>
	The original data can be found here:</p>
<ul>
	<li>
		<a href="https://figshare.com/articles/PHEME_rumour_scheme_dataset_journalism_use_case/2068650">PHEME rumour scheme dataset: journalism use case, version 2</a></li>
</ul>
<p>
	For the open variant of task B, the following wikipedia dump may be used:</p>
<ul>
	<li>
		20160901:&nbsp;<a href="https://dumps.wikimedia.org/enwiki/20160901/">https://dumps.wikimedia.org/enwiki/20160901/</a></li>
</ul>
<p>