<H3>Welcome!</H3>

<p>
Related to the objective of predicting a rumour's veracity, the first subtask will deal with the complementary objective of tracking how other sources orient to the accuracy of the rumourous story. A key step in the analysis of the surrounding discourse is to determine how other users in social media regard the rumour. We propose to tackle this analysis by looking at the replies to the tweet that presented the rumourous statement, i.e. the originating rumourous (source) tweet.
We will provide participants with a tree-structured conversation formed of tweets replying to the originating rumourous tweet, where each tweet presents its own type of support with regard to the rumour. We frame this in terms of supporting, denying, querying or commenting on (SDQC) the claim. Therefore, we introduce a subtask where the goal is to label the type of interaction between a given statement (rumourous tweet) and a reply tweet (the latter can be either direct or nested replies).
Each tweet in the tree-structured thread will have to be categorised into one of the following four categories:
</p>

<ul>
<li>Support: the author of the response supports the veracity of the rumour they are responding to.</li>
<li>Deny: the author of the response denies the veracity of the rumour they are responding to.</li>
<li>Query: the author of the response asks for additional evidence in relation to the veracity of the rumour they are responding to.</li>
<li>Comment: the author of the response makes their own comment without a clear contribution to assessing the veracity of the rumour they are responding to.</li>
</ul>